<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/header')%>
    <main class="new-product-main">
      <div class="new-product-box">
        <h3>Agregar nuevo producto</h3>
        <div class="new-product-form-box">
        <form action="/product/new" class="new-product-form" method="post" enctype="multipart/form-data">
          <div class="new-product-div">
            <label for="name">Nombre: </label>
            <input type="text" name="name" id="name" />
          </div>
            <label for="description">Descripcion: </label>
            <textarea
              name="description"
              id="description"
              cols="30"
              rows="10"
            >Contenido
            </textarea>
          <div class="new-product-div">
            <label for="new-img">Imagen: </label>
            <input type="file" name="new-img" id="new-img" />
          </div>
          <div class="new-product-div">
          <label for="category">Categoría: </label>
          <select name="category" id="category">
            <option value="accion">Accion</option>
            <option value="aventura">Aventura</option>
            <option value="arcade">Arcade</option>
            <option value="deportes">Deportes</option>
            <option value="estrategia">Estrategia</option>
          </select>
          </div>
          <label for="consoleType">Consolas compatibles: </label>
          <div class="consoleType-checkbox">
            <input type="checkbox" name="consoleType" id="ps4" value="ps4" />
            <label for="ps4">PS4</label>

            <input type="checkbox" name="consoleType" id="ps5" value="ps5" />
            <label for="ps5">PS5</label>

            <input type="checkbox" name="consoleType" id="xbox" value="xbox" />
            <label for="xbox">XBox</label>

            <input type="checkbox" name="consoleType" id="Pc" value="Pc" />
            <label for="Pc">Pc</label>

            <input
              type="checkbox"
              name="consoleType"
              id="nintendo-switch"
              value="nintendo-switch"
            />
            <label for="nintendo-switch">Nintendo Switch</label>
          </div>
          <div class="new-product-div">
          <label for="value">Precio: </label>
          <input type="number" name="value" id="value" />
            </div>
            <div class="new-product-div">
              <label for="discount">Descuento: </label>
              <input type="number" name="discountValue" id="discount"/>
            </div>
            <div class="new-product-div">
              <label for="section">Sección: </label>
              <select name="section" id="section">
                <option value="on-sale">Oferta</option>
                <option value="recommended">Recomendado</option>
                <option value="best-sellers">Más Vendidos</option>
              </select>
              </div>
          <button class="new-product-button" type="submit">Crear</button>
        </form>
      </div>
      </div>
    </main>
    <%- include('../partials/footer')%>
  </body>
</html>
