<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/header')%>
    <main class="new-product-main">
      <div class="new-product-box">
        <h3>Agregar nuevo producto</h3>
        <div class="new-product-form-box">
        <form action="/products/new" class="new-product-form" method="post" enctype="multipart/form-data">
          <div class="new-product-div">
            <label for="name" class="new-product-label">Nombre: </label>
            <input type="text" name="name" id="name" 
            placeholder="Ingrese nombre del juego"/>
          </div>

          <div class="new-product-div">
            <label for="new-img" class="new-product-label">Imagen: </label>
            <input type="file" name="new-img" id="new-img" />
          </div>
          <div class="new-product-div">
            <label for="description" class="new-product-label">Descripcion: </label>
            <textarea
              name="description"
              id="description"
              cols="30"
              rows="10"
              placeholder="Contenido de la descripcion del juego"
            >
            </textarea>
            </div>
          
          <div class="new-product-div">
          <label for="category" class="new-product-label">Categoría: </label>
          <select name="category" id="category">
            <option value="accion">Accion</option>
            <option value="aventura">Aventura</option>
            <option value="arcade">Arcade</option>
            <option value="deportes">Deportes</option>
            <option value="estrategia">Estrategia</option>
          </select>
          </div>
          <div class="new-product-div">
          <label for="consoleType" class="new-product-label">Consolas compatibles: </label>
          <div class="consoleType-checkbox">
            <input type="checkbox" name="consoleType" id="ps4" value="ps4" />
            <label for="ps4">PS4</label>

            <input type="checkbox" name="consoleType" id="ps5" value="ps5" />
            <label for="ps5">PS5</label>

            <input type="checkbox" name="consoleType" id="xbox" value="xbox" />
            <label for="xbox">XBox</label>

            <input type="checkbox" name="consoleType" id="Pc" value="Pc" />
            <label for="Pc">Pc</label>

            <input
              type="checkbox"
              name="consoleType"
              id="nintendo-switch"
              value="nintendo-switch"
            />
            </div>
            <label for="nintendo-switch">Nintendo Switch</label>
          </div>
          <div class="new-product-div">
          <label for="value" class="new-product-label">Precio: </label>
          <input type="number" step="any" name="value" id="value" placeholder="Ingrese precio del juego" />
            </div>
            <div class="new-product-div">
              <label for="discount" class="new-product-label">Descuento: </label>
              <input type="number" step="any" name="discount" id="discount" 
              placeholder="Ingrese % de descuento"/>
            </div>
            <div class="new-product-div">
              <label for="section" class="new-product-label">Sección: </label>
              <select name="section" id="section">
                <option value="offer">Oferta</option>
                <option value="recommended">Recomendado</option>
                <option value="sellers">Más Vendidos</option>
              </select>
              </div>
              <div class="new-product-div-button">
          <button class="new-product-button" type="submit">Agregar Producto</button>
        </div>
        </form>
      </div>
      </div>
    </main>
    <%- include('../partials/footer')%>
  </body>
</html>
