<!DOCTYPE html>
<html lang="es">
  
  <%- include('../partials/head')%>

  <body>
    <%- include('partials/header') %>
    <main class="product-main">
      <iframe
        width="100%"
        height="200"
        src="https://www.youtube.com/embed/6nUvWkD8rAE"
        title="Terraria – Update 1.4.3 Official Trailer"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
      <div class="product-detail-container">
      <div class="logo">
        <img src="/images/games/terraria-logo.jpg" alt="Terraria Logo" />
        <h1>Terraria</h1>
      </div>

      <section class="product-buy">
        <div class="product-buy-info">
          <div class="product-prices">
            <p class="product-discount">-50%</p>
            <p class="product-final-price">4.99$</p>
            <p class="product-price">9.99$</p>
          </div>
          <a class="product-addcar" href="#"
            >Añadir al carrito<i class="fa-solid fa-cart-shopping"></i
          ></a>
        </div>
      </section>
    </div>
      <section class="product-info">
        <h2>Sobre este juego</h2>
        <h3>¡Cava, lucha y construye!</h3>
        <p>
          El mundo mismo está al alcance de tu mano mientras luchas por la
          supervivencia, la fortuna y la gloria. Adéntrate en extensiones
          cavernosas, busca enemigos cada vez más grandes para poner a prueba tu
          temple en combate o construye tu propia ciudad.
        </p>
        <h3>¡En el mundo de Terraria, la elección es tuya!</h3>
        <p>
          Combinando elementos de los juegos de acción clásicos con la libertad
          de la creatividad estilo sandbox, Terraria es una experiencia de juego
          única en la que tanto el viaje como el destino son tan únicos como los
          propios jugadores.
        </p>
      </section>

      <div id="product-slider">
        <ul class="slider">
          <li id="slide1">
            <img src="/images/games/terraria1.png" alt="Terraria Imagen 1" />
          </li>
          <li id="slide2">
            <img src="/images/games/terraria2.avif" alt="Terraria Imagen 2" />
          </li>
          <li id="slide3">
            <img src="/images/games/terraria3.jpg" alt="Terraria Imagen 2" />
          </li>
          <li id="slide4">
            <img src="/images/games/terraria4.jpg" alt="Terraria Imagen 2" />
          </li>
          <li id="slide5">
            <img src="/images/games/terraria5.jpg" alt="Terraria Imagen 2" />
          </li>
        </ul>

        <ul class="menu">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
          <li>
            <a href="#slide3"></a>
          </li>
          <li>
            <a href="#slide4"></a>
          </li>
          <li>
            <a href="#slide5"></a>
          </li>
        </ul>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
