<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="title-selling">
            <h1>Resultado de búsqueda</h1>
        </div>
        <div class="main-container">
            <div class="container-selling">
                <section class="product-search">
                    <h2>Cargando...</h2>
                </section>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/productSearch.js"></script>
</body>
</html>