<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6f834f16b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="top-header">
            <img src="/images/logo.png">
            <h2>Games Hub</h2>
            <div class="top-buttons">
                <a href="#"><i class="fa-light fa-cart-shopping"></i></a>
                <div class="burger-menu">
                    <button>
                    <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="nav-header">
            <nav>
                <ul>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Recomendados</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Mas Vendidos</a></li>
                </ul>
            </nav>
            <form action="#" method="get">
                <input type="text"
                    placeholder="Buscar juegos, productos"
                    name="search">
                <button>
                    <i class="fa fa-search">
                    </i>
                </button>
            </form>
        </div>
    </header>
    <main>
        <div class="login-box">
            <h3>Login</h3>
            <form action="#" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>

                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" required>

                <button type="submit">Ingresar</button>
            </form>
            <a href="#">Registrate</a>
        </div>
    </main>
    <footer>
        <div class="payment-logos">
            <p>Medios de pago</p>
            <div class="logos">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-paypal"></i>
                <i class="fa-brands fa-cc-amazon-pay"></i>
            </div>
        </div>
        <div class="social-media">
            <p>Redes sociales</p>
            <div class="social-logos">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        <h2>Games Hub</h2>
    </footer>
</body>
</html>