<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/logo-nahuel.png" />
    <title>GamesHub</title>
</head>

<body>
    <header>
        AQUÍ VA EL HEADER
    </header>
    <main>
        <div class="carousel">
            <img src="/images/main-cards/cuphead.jpg" alt="">
        </div>
        <div class="section-1">
            <div class="section-title">
                <div class="box-title">
                    <h3>Los más vendidos</h3>
                </div>
                <div class="button">
                    <a href="#">Ver todos</a>
                </div>
            </div>
            <section class="best-selling">
                <div class="card">
                    <img src="/images/main-cards/cyberpunk.jpeg" alt="cyberpunk2077">
                    <h4>Cyberpunk 2077 - XBOX</h4>
                    <p class="price">U$D 11.98</p>
                </div>
                <div class="card">
                    <img src="/images/main-cards/fortnite.jpeg" alt="fortnite">
                    <h4>Fortnite - Season 4</h4>
                    <p class="price">U$D 9.99</p>
                </div>
                <div class="card">
                    <img src="/images/main-cards/free-fire.jpg" alt="free fire">
                    <h4>Garena Free Fire</h4>
                    <p class="price">U$D 3.99</p>
                </div>
                <div class="card">
                    <img src="/images/main-cards/playstation-store.jpeg" alt="playstation">
                    <h4>PlayStation Card</h4>
                    <p class="price">U$D 10.00</p>
                </div>
            </section>
        </div>
        <div class="section-2">

            <div class="section-title">
                <div class="box-title">
                    <h3>Recomendados</h3>
                </div>
                <div class="button">
                    <a href="#">Ver todos</a>
                </div>
            </div>
            <section class="recommended">
                <div class="card">
                    <img src="/images/main-cards/ark-survival.jpeg" alt="ark survival">
                    <h4>ARK Survival Evolved</h4>
                    <p class="price">U$D 7.50</p>
                </div>
                <div class="card">
                    <img src="/images/main-cards/cs-anthology.jpg" alt="cs anthology">
                    <h4>Counter Strike</h4>
                    <p class="price">U$D 3.99</p>
                </div>
                <div class="card">
                    <img src="/images/main-cards/doom-eternal.jpeg" alt="free fire">
                    <h4>Doom Eternal - Deluxe</h4>
                    <p class="price">U$D 3.99</p>
                </div>
                <div class="card">
                    <img src="/images/main-cards/playstation-store.jpeg" alt="free fire">
                    <h4>Garena Free Fire</h4>
                    <p class="price">U$D 3.99</p>
                </div>
            </section>
        </div>
        <div class="section-3">

            <div class="section-title">
                <div class="box-title">
                    <h3>Ofertas</h3>
                </div>
                <div class="button">
                    <a href="#">Ver todos</a>
                </div>
            </div>
            <section class="offers">
                <div class="card">
                    <img src="/images/main-cards/ark-survival.jpeg" alt="ark survival">
                    <h4>ARK Survival Evolved</h4>
                    <p class="price">U$D 7.50</p>
                </div>
                <div class="card">
                    <img src="/images/main-cards/cs-anthology.jpg" alt="cs anthology">
                    <h4>Counter Strike</h4>
                    <p class="price">U$D 3.99</p>
                </div>
                <div class="card">
                    <img src="/images/main-cards/doom-eternal.jpeg" alt="free fire">
                    <h4>Doom Eternal - Deluxe</h4>
                    <p class="price">U$D 3.99</p>
                </div>
                <div class="card">
                    <img src="/images/main-cards/playstation-store.jpeg" alt="free fire">
                    <h4>Garena Free Fire</h4>
                    <p class="price">U$D 3.99</p>
                </div>
            </section>
        </div>
    </main>
    <footer>
        AQUÍ VA EL FOOTER
    </footer>
</body>

</html>