<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/logo-nahuel.png" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>GamesHub</title>
</head>

<body>
    <header>
        <div class="header-logo">
          <img src="/images/logo-gameshub2.png" alt="Logo GamesHub" />
          <p>Games Hub</p>
        </div>
        <ul class="header-user-list">
          <li><a class="header-link" href="/login">Login</a></li>
          <li><a class="header-link" href="/register">Register</a></li>
          <li>
            <a class="header-icon" href="/cart"
              ><i class="fa-solid fa-cart-shopping"></i
            ></a>
          </li>
          <li>
            <a class="header-icon burger-menu" href="#"
              ><i class="fa-solid fa-bars"></i
            ></a>
          </li>
        </ul>
        <nav>
          <ul class="header-nav-bar">
            <li><a class="header-link" href="/">Tienda</a></li>
            <li><a class="header-link" href="/">Ofertas</a></li>
            <li><a class="header-link" href="/">Recomendados</a></li>
            <li><a class="header-link" href="#">Categorias</a></li>
            <li><a class="header-link" href="/">Más vendidos</a></li>
            <li>
              <div class="search">
                <form action="#">
                  <input
                    type="text"
                    placeholder="Buscar productos, marcas"
                    name="search"
                  />
                  <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              </div>
            </li>
          </ul>
        </nav>
      </header>
    <main>
        <div class="carousel">
            <img class="carousel-item" src="/images/main-cards/cuphead.jpg" alt="">
            <img class="carousel-item" src="/images/main-cards/medium.jpg" alt="">
            <img class="carousel-item" src="/images/main-cards/pleague.jpg" alt="">
        </div>
        <div class="container-main">
            <div class="container-section">
                <div class="section-1">
                    <div class="section-title">
                        <div class="box-title">
                            <h3>Los más vendidos</h3>
                        </div>
                        <div class="button">
                            <a href="#">Ver todos</a>
                        </div>
                    </div>
                    <section class="best-selling">
                        <div class="card">
                            <img src="/images/main-cards/cyberpunk.jpeg" alt="cyberpunk2077">
                            <h4>Cyberpunk 2077 - XBOX</h4>
                            <p class="price">U$D 11.98 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                        <div class="card">
                            <img src="/images/main-cards/fortnite.jpeg" alt="fortnite">
                            <h4>Fortnite - Season 4</h4>
                            <p class="price">U$D 9.99 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                        <div class="card">
                            <img src="/images/main-cards/terraria.jpg" alt="terraria">
                            <h4>Terraria</h4>
                            <p class="price">U$D 3.99 - <span><a href="/terraria">COMPRAR</a></span></p>
                        </div>
                        <div class="card">
                            <img src="/images/main-cards/playstation-store.jpeg" alt="playstation">
                            <h4>PlayStation Card</h4>
                            <p class="price">U$D 10.00 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                    </section>
                </div>
                <div class="section-2">
                    <div class="section-title">
                        <div class="box-title">
                            <h3>Recomendados</h3>
                        </div>
                        <div class="button">
                            <a href="#">Ver todos</a>
                        </div>
                    </div>
                    <section class="recommended">
                        <div class="card">
                            <img src="/images/main-cards/ark-survival.jpeg" alt="ark survival">
                            <h4>ARK Survival Evolved</h4>
                            <p class="price">U$D 7.50 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                        <div class="card">
                            <img src="/images/main-cards/cs-anthology.jpg" alt="cs anthology">
                            <h4>Counter Strike</h4>
                            <p class="price">U$D 3.99 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                        <div class="card">
                            <img src="/images/main-cards/doom-eternal.jpeg" alt="free fire">
                            <h4>Doom Eternal - Deluxe</h4>
                            <p class="price">U$D 3.99 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                        <div class="card">
                            <img src="/images/main-cards/playstation-store.jpeg" alt="free fire">
                            <h4>Garena Free Fire</h4>
                            <p class="price">U$D 3.99 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                    </section>
                </div>
                <div class="section-3">
                    <div class="section-title">
                        <div class="box-title">
                            <h3>Ofertas</h3>
                        </div>
                        <div class="button">
                            <a href="#">Ver todos</a>
                        </div>
                    </div>
                    <section class="offers">
                        <div class="card">
                            <img src="/images/main-cards/captain-tsubasa.jpeg" alt="captain tsubasa">
                            <h4>Captain Tsubasa</h4>
                            <p class="price">U$D 2.50 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                        <div class="card">
                            <img src="/images/main-cards/dbz-kakarot.jpeg" alt="dragon ball z">
                            <h4>Dragon Ball Z Kakarot</h4>
                            <p class="price">U$D 4.99 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                        <div class="card">
                            <img src="/images/main-cards/fifa23.jpg" alt="Fifa 23">
                            <h4>FIFA 23</h4>
                            <p class="price">U$D 29.99 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                        <div class="card">
                            <img src="/images/main-cards/mhw.jpeg" alt="Monster Hunter">
                            <h4>Monster Hunter World</h4>
                            <p class="price">U$D 6.99 - <span><a href="/views/productDetail.html">COMPRAR</a></span></p>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </main>
    <footer>
        <section class="header-payment">
          <div>
            <h2>Medios de pago</h2>
          </div>
          <div>
            <ul class="header-payment-list">
              <li><i class="fa-brands fa-cc-visa footer-icon"></i></li>
              <li><i class="fa-brands fa-cc-mastercard footer-icon"></i></li>
              <li><i class="fa-brands fa-cc-paypal footer-icon"></i></li>
              <li><i class="fa-brands fa-bitcoin footer-icon"></i></li>
              <li><i class="fa-brands fa-cc-amazon-pay footer-icon"></i></li>
            </ul>
          </div>
        </section>
        <section class="header-social">
          <div>
            <h2>Redes sociales</h2>
          </div>
          <div>
            <ul class="header-social-list">
              <li> <a href="https://www.facebook.com/xfoarmks/" target="_blank"><i class="fa-brands fa-square-facebook footer-icon"></i></a></li>
              <li><i class="fa-brands fa-square-twitter footer-icon"></i></li>
              <li><i class="fa-brands fa-square-instagram footer-icon"></i></li>
              <li><i class="fa-brands fa-square-whatsapp footer-icon"></i></li>
              <li><i class="fa-brands fa-telegram footer-icon"></i></li>
            </ul>
          </div>
        </section>
        <p>GAMES HUB 2022</p>
      </footer>
    <script src="/js/carousel.js"></script>
</body>

</html>