<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/productCart.css" />
  <script src="https://kit.fontawesome.com/544876a7ca.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Changa&family=Kanit:wght@200&family=Roboto:wght@100&family=Taviraj:wght@200&display=swap"
    rel="stylesheet" />

  <title>productCart</title>
</head>


<body>
  <header>
    <div class="header-logo">
      <img src="/images/logo-gameshub2.png" alt="Logo GamesHub" />
      <p>Games Hub</p>
    </div>
    <ul class="header-user-list">
      <li><a class="header-link" href="/login">Login</a></li>
      <li><a class="header-link" href="/register">Register</a></li>
      <li>
        <a class="header-icon burger-menu" href="#"
          ><i class="fa-solid fa-bars"></i
        ></a>
      </li>
    </ul>
    <nav>
      <ul class="header-nav-bar">
        <li><a class="header-link" href="/">Tienda</a></li>
        <li><a class="header-link" href="/">Ofertas</a></li>
        <li><a class="header-link" href="/">Recomendados</a></li>
        <li><a class="header-link" href="#">Categorias</a></li>
        <li><a class="header-link" href="/">Más vendidos</a></li>
        <li>
          <div class="search">
            <form action="#">
              <input
                type="text"
                placeholder="Buscar productos, marcas"
                name="search"
              />
              <button><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
            </form>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="cart-container">

      <div class="section-container">
        <section>
        <div class="cart-tittle">
          <p>Carrito de compras</p>
          <hr class="section-top-line" />
        </div>

        <article>
          <img src="/images/games/need_for_speed_heat/need_for_speed_heat.jpg" alt="game_photo" class="article-image" />
          <div>
            <p>Need for speed</p>
            <p>PS4</p>
            <div class="delete-quantity">
              <button class="delete-basket">
                <em class="fa-solid fa-trash"></em>
              </button>

              <p>| Cantidad :</p>
              <p class="article-quantity">1</p>
              <form class="quantity-form">
                <button class="quantity">+</button>
                <button class="quantity">-</button>
              </form>
            </div>
            <div class="value-container">
              <p>Valor:</p>
              <p>$12345</p>
            </div>
          </div>
        </article>

        <article>
          <img src="/images/games/dota_2/dota-2.jpg" alt="game_photo" class="article-image" />
          <div>
            <p>Dota 2</p>
            <p>PS4</p>
            <div class="delete-quantity">
              <button class="delete-basket">
                <em class="fa-solid fa-trash"></em>
              </button>

              <p>| Cantidad :</p>
              <p class="article-quantity">1</p>
              <form class="quantity-form">
                <button class="quantity">+</button>
                <button class="quantity">-</button>
              </form>
            </div>
            <div class="value-container">
              <p>Valor:</p>
              <p>$12345</p>
            </div>
          </div>
        </article>
        <article>
          <img src="/images/games/forza_horizon_5/forza-horizon-5.jpg" alt="game_photo" class="article-image" />
          <div>
            <p>Forza horizon 5</p>
            <p>PS4</p>
            <div class="delete-quantity">
              <button class="delete-basket">
                <em class="fa-solid fa-trash"></em>
              </button>

              <p>| Cantidad :</p>
              <p class="article-quantity" >1</p>
              <form class="quantity-form">
                <button class="quantity">+</button>
                <button class="quantity">-</button>
              </form>
            </div>
            <div class="value-container">
              <p>Valor:</p>
              <p>$12345</p>
            </div>
          </div>
        </article>
      </section>
      </div>


      <div class="total-container">
        <section>
        <div class="cart-tittle">
          <p>Total</p>
          <hr class="section-top-line" />
        </div>
        <div class="cart-value-description">
          <div class="cart-value">
            <p>Need for speed</p>
            <p>$12345</p>
          </div>
          <div class="cart-value">
            <p>Dota 2</p>
            <p>$12345</p>
          </div>
          <div class="cart-value">
            <p>Forza horizon 5</p>
            <p>$12345</p>
          </div>
        </div>
        <hr class="total-bottom-line" />
        <div class="total">
          $24690
        </div>
        <form> <input type="submit" class="buy-button" value="Comprar"></form>
       
      </section>
      </div>
  </div>
  <footer>
    <section class="header-payment">
      <div>
        <h2>Medios de pago</h2>
      </div>
      <div>
        <ul class="header-payment-list">
          <li><i class="fa-brands fa-cc-visa footer-icon"></i></li>
          <li><i class="fa-brands fa-cc-mastercard footer-icon"></i></li>
          <li><i class="fa-brands fa-cc-paypal footer-icon"></i></li>
          <li><i class="fa-brands fa-bitcoin footer-icon"></i></li>
          <li><i class="fa-brands fa-cc-amazon-pay footer-icon"></i></li>
        </ul>
      </div>
    </section>
    <section class="header-social">
      <div>
        <h2>Redes sociales</h2>
      </div>
      <div>
        <ul class="header-social-list">
          <li><i class="fa-brands fa-square-facebook footer-icon"></i></li>
          <li><i class="fa-brands fa-square-twitter footer-icon"></i></li>
          <li><i class="fa-brands fa-square-instagram footer-icon"></i></li>
          <li><i class="fa-brands fa-square-whatsapp footer-icon"></i></li>
          <li><i class="fa-brands fa-telegram footer-icon"></i></li>
        </ul>
      </div>
    </section>
    <p>GAMES HUB 2022</p>
  </footer>
  
</body>

</html>