<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productCart</title>
</head>
<body>
    <section>
        <div>
            <article>
                <img src="/images/need_for_speed_heat.jpg" alt="game_photo">
                <div>
                    <p>Need for speed</p>
                    <p>PS4</p>
                    <div>
                        <p>Cantidad</p>
                        <p>1</p>
                        
                    </div>
                    
                </div>
            </article>
        </div>
    </section>
</body>
</html>