<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/productCart.css" />
    <script
      src="https://kit.fontawesome.com/544876a7ca.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa&family=Kanit:wght@200&family=Roboto:wght@100&family=Taviraj:wght@200&display=swap"
      rel="stylesheet"
    />
    
    <title>productCart</title>
  </head>
  <body>
    <div>
    <section>
      <div class="section-container">
        <div class="cart-tittle">
          <p>Carrito</p>
          <hr class="section-top-line" />
        </div>

        <article>
          <img
            src="/images/games/need_for_speed_heat.jpg"
            alt="game_photo"
            class="article-image"
          />
          <div>
            <p>Need for speed</p>
            <p>PS4</p>
            <div class="delete-quantity">
              <button class="delete-basket">
                <em class="fa-solid fa-trash"></em>
              </button>

              <p>| Cantidad :</p>
              <p>1</p>
              <form class="quantity-form">
                <button class="quantity">+</button>
                <button class="quantity">-</button>
              </form>
            </div>
            <div class="value-container">
              <p>Valor:</p>
              <p>$12345</p>
            </div>
          </div>
        </article>

        <article>
          <img
            src="/images/games/dota-2.jpg"
            alt="game_photo"
            class="article-image"
          />
          <div>
            <p>Dota 2</p>
            <p>PS4</p>
            <div class="delete-quantity">
              <button class="delete-basket">
                <em class="fa-solid fa-trash"></em>
              </button>

              <p>| Cantidad :</p>
              <p>1</p>
              <form class="quantity-form">
                <button class="quantity">+</button>
                <button class="quantity">-</button>
              </form>
            </div>
            <div class="value-container">
              <p>Valor:</p>
              <p>$12345</p>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section>
      <div class="section-container">
        <div class="cart-tittle">
          <p>Total</p>
          <hr class="section-top-line" />
        </div>
        <div class="cart-value-description">
            <div class="cart-value"><p>Need for speed</p> <p>$12345</p></div>
            <div class="cart-value"><p>Dota 2</p> <p>$12345</p></div>
        </div>
        <hr class="total-bottom-line" />
        <div class="total">
            <p>$24690</p>
        </div>
        <button class="buy-button">Comprar</button>
      </div>
    </section>
</div>
  </body>
</html>
