@import url('https://fonts.googleapis.com/css2?family=Changa&family=Kanit:wght@200&family=Roboto:wght@100&family=Taviraj:wght@200&display=swap');

/* Global */

* {
    font-family: 'Changa', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #6929BA;
}
a{
    color: white;
}
/* ----------------------------------HEADER---------------------------------- */
header {
    background-color: #302A3F;
    color: white;
    width: 100%;
    height: 80px;
    padding-bottom: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}
.header-logo{
    display: inline-flex;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}
.header-logo img{
    width: 40%;
    height: 60px;
}
.header-logo p{
    text-align: center;
    align-self: center;
    width: 600%;
    font-size: 24px;
    margin:auto;
    cursor:default;
}
.header-user-list{
    display:flex;
    justify-content: flex-end;
    float: right;
    width: 20%;
    padding: 27px 10px 0px 0px;
}
.header-icon{
    color:white;
    font-size: 24px;
    margin-right: 15px;
}
.header-nav-bar{
    display:none;
}
.header-link{
    color: white;
    text-decoration: none;
    display: none;
}
li{
    list-style-type: none;
}
/* ----------------------------------HEADER---------------------------------- */
/* Carousel */

.carousel {
    position: relative;
    background-color: #843890;
    margin: auto;
    border-radius: 20px;
}

.carousel-item {
    width: 100%;
    padding: 1em;
    display: none
}

.carousel-item-selected {
    display: block;
}

.carousel-nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}

.carousel-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    margin: 0 10px;
}

.carousel-button-selected {
    background-color: rgba(255,255,255,0.7);
}

/* Card main */

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid thin #1AADB4;
    border-radius: 10px;
    width: 200px;
    height: 350px;
    margin: 20px;
    justify-content: space-between;
    background-color: #D9D9D9;
    transition: all 0.4s;
}

.card p{
    color: green;
}

.card img {
    width: 100%;
    height: 270px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.4);;
    color: white;
}

.card .price a {
    text-decoration: none;
    color: black;
    transition: all 0.4s;
}

.card:hover .price a {
    border-top: 1px solid white;
    color: white;
}

.best-selling,
.recommended,
.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Title headers */

.section-title {
    display: flex;
    justify-content: space-around;
    border-bottom: solid thin grey;
    margin: 0 40px;
    align-items: center;
}

/* Texto */

.section-title h3 {
    font-size: 1.5rem;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);

    /* Clip Background Image */

    background: url(/images/main-cards/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

}

/* Animate Background Image */

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.section-title a {
    text-decoration: none;
    padding: 0 15px;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.section-title a:hover {
    color: #1AADB4;
}

.section-1, .section-3{
    background-color: #6929BA;
}

.section-2{
    background-color: #843890;
}
/* ----------------------------------FOOTER---------------------------------- */
footer{
    background-color: #302A3F;
    color: white;
    width: 100%;
    height: 80px;
}
footer p{
    padding-top: 27px;
    text-align: center;
    font-size: 24px;
}
footer section{
    display:none;
}
h2{
    text-align: center;
    border-bottom: solid 1px white;
}
/* ----------------------------------FOOTER---------------------------------- */
@media (min-width:769px){
    /* ----------------------------------HEADER---------------------------------- */
    header{
        height: 115px;
    }
    .header-logo{
        width: 70%;
    }
    .burger-menu{
        display:none;
    }
    .header-user-list{
        width: 30%;
        justify-content: space-around;
    }
    .header-link{
        display:block;
    }
    .header-nav-bar{
        display: flex;
        justify-content: space-around;
    }
     /* ----------------------------------HEADER---------------------------------- */
     /* ----------------------------------MAIN---------------------------------- */
     .carousel{
        width: 70%;
     }
     /* ----------------------------------MAIN---------------------------------- */
    /* ----------------------------------FOOTER---------------------------------- */
    footer{
        height: 150px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header-payment{
        display:flex;
        flex-direction: column;
        width: 45%;
    }
    .header-payment-list{
        display:flex;
        justify-content: space-around;
        padding-top: 5px;
    }
    .header-social{
        display:flex;
        flex-direction: column;
        width: 45%;
    }
    .header-social-list{
        display:flex;
        justify-content: space-around;
        padding-top: 5px;
    }
    .footer-icon{
        font-size: 40px;
    }
    footer p{
        padding-top: 0px;
    }

    /* ----------------------------------FOOTER---------------------------------- */
}
   