* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
    color: white;
}

body {
    background-color:#6929BA;
}

/* ----------------------------------HEADER---------------------------------- */
header {
    background-color: #302A3F;
    color: white;
    width: 100%;
    height: 80px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
.header-logo{
    display: inline-flex;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}
.header-logo img{
    width: 40%;
    height: 60px;
}
.header-logo p{
    text-align: center;
    align-self: center;
    width: 600%;
    font-size: 24px;
    margin:auto;    
}
.header-user-list{
    display:flex;
    justify-content: flex-end;
    float: right;
    width: 20%;
    padding: 27px 10px 0px 0px;
}
.header-icon{
    color:white;
    font-size: 24px;
    margin-left: 10px;
}
.header-nav-bar{
    display:none;
}
.header-link{
    color: white;
    text-decoration: none;
    display: none;
}
/* ----------------------------------HEADER---------------------------------- */

.cart-container{
    display:flex;
    flex-wrap: nowrap;
    display:flex;
    flex-direction: column;
     
}
.cart-tittle{
    text-align: center;
    font-size:24px;
}

.section-top-line{
    width:50%;
    margin:auto;
   
}

.section-container , .total-container{
    background-color:rgba(0,0,0,0.4);
    width:80%;
    border-radius:10px;
    margin:auto;
    margin-bottom:10px;
    padding:10px;
}


article{
    padding-top:5px;
    padding-bottom:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.article-image{
    width:40%;
}
.delete-quantity{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.delete-basket,.quantity{
    background-color:rgba(0,0,0,0.1);
    color: white;
    border-radius:5px;
    padding: 0 5px ;
    margin-right: 2px;
    margin-left: 2px;
    border:1px solid white;
}

.quantity-form{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.value-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-value{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5% ;
}
.total-bottom-line{
    width:90%;
    padding: 0 5% ;
    margin:auto;
    
}
.total{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px  0px ;
    color:#1AADB4;
    font-size:24px;
    
}
.buy-button{
    margin:auto;
    display:flex;
    flex-direction: row;
    background-color:#1AADB4;
    color:white;
    margin-bottom: 5px;
    padding:0 5px;
    border-radius:5px;
    border:1px solid white;
}

.delete-basket:hover,.quantity:hover{
    background-color: #1AADB4;
    margin:1px solid white;
    transition:0.5s;
}

.buy-button:hover{
    background-color: #843890;
    transition:1s;
}
/* ----------------------------------FOOTER---------------------------------- */
footer{
    background-color: #302A3F;
    color: white;
    width: 100%;
    height: 80px;
}
footer p{
    padding-top: 27px;
    text-align: center;
    font-size: 24px;
}
footer section{
    display:none;
}

/* ----------------------------------FOOTER---------------------------------- */
@media (min-width:769px) {
    /* ----------------------------------HEADER---------------------------------- */
    header{
        height: 110px;
    }
    .header-logo{
        width: 70%;
    }
    .burger-menu{
        display:none;
    }
    .header-user-list{
        width: 30%;
        justify-content: space-around;
    }
    .header-link{
        display:block;
    }
    .header-nav-bar{
        display: flex;
        justify-content: space-around;
    }
    .search-icon{
        color: black;
    }
    /* ----------------------------------HEADER---------------------------------- */
    .cart-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-wrap: nowrap;
        align-content: space-between;
    }
    .section-container{
        width: 80%;
        margin: 10px;
     }
    .total-container{
       width: 100%;
       margin: 10px;
    }
    /* ----------------------------------FOOTER---------------------------------- */
    footer{
        height: 135px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header-payment{
        display:flex;
        flex-direction: column;
        width: 45%;
    }
    .header-payment-list{
        display:flex;
        justify-content: space-around;
        padding-top: 5px;
    }
    .header-social{
        display:flex;
        flex-direction: column;
        width: 45%;
    }
    .header-social-list{
        display:flex;
        justify-content: space-around;
        padding-top: 5px;
    }
    .footer-icon{
        font-size: 40px;
    }
    footer p{
        padding-top: 0px;
    }

    /* ----------------------------------FOOTER---------------------------------- */
}