* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
}
body {
    background: linear-gradient(to bottom, #6929BA,#843890);
}


/* ----------------------------------HEADER---------------------------------- */
header {
    background-color: #302A3F;
    color: white;
    width: 100%;
    height: 80px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}
.header-logo{
    display: inline-flex;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}
.header-logo img{
    width: 40%;
    height: 60px;
}
.header-logo p{
    text-align: center;
    align-self: center;
    width: 600%;
    font-size: 24px;
    margin:auto;    
}
.header-user-list{
    display:flex;
    justify-content: flex-end;
    float: right;
    width: 20%;
    padding: 27px 10px 0px 0px;
}
.header-icon{
    color:white;
    font-size: 24px;
    margin-right: 15px;
}
.header-nav-bar{
    display:none;
}
.header-link{
    color: white;
    text-decoration: none;
    display: none;
}
li{
    list-style-type: none;
}
/* ----------------------------------HEADER---------------------------------- */
/* ----------------------------------FOOTER---------------------------------- */
footer{
    background-color: #302A3F;
    color: white;
    width: 100%;
    height: 80px;
}
footer p{
    padding-top: 27px;
    text-align: center;
    font-size: 24px;
}
footer section{
    display:none;
}
/* ----------------------------------FOOTER---------------------------------- */
@media (min-width: 769px) {
    /* ----------------------------------HEADER---------------------------------- */
    header{
        height: 110px;
    }
    .header-logo{
        width: 70%;
    }
    .burger-menu{
        display:none;
    }
    .header-user-list{
        width: 30%;
        justify-content: space-around;
    }
    .header-link{
        display:block;
    }
    .header-nav-bar{
        display: flex;
        justify-content: space-around;
    }
    /* ----------------------------------HEADER---------------------------------- */
    /* ----------------------------------FOOTER---------------------------------- */
    footer{
        height: 135px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header-payment{
        display:flex;
        flex-direction: column;
        width: 45%;
    }
    .header-payment-list{
        display:flex;
        justify-content: space-around;
        padding-top: 5px;
    }
    .header-social{
        display:flex;
        flex-direction: column;
        width: 45%;
    }
    .header-social-list{
        display:flex;
        justify-content: space-around;
        padding-top: 5px;
    }
    .footer-icon{
        font-size: 40px;
    }
    footer p{
        padding-top: 0px;
    }
    h2{
        text-align: center;
        border-bottom: solid 1px white;
    }
    /* ----------------------------------FOOTER---------------------------------- */
}
/* --------------------------- LOGIN --------------------------- */
.body-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Changa', sans-serif;
}

.main-login {
    
    display: flex;
    justify-content: center;
    padding: 10px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color:rgba(0,0,0,0.4);
    padding: 25px;
    border-radius: 5px;
    height: 70vh;
}

.login-box h3 {
    border-bottom: solid 1px white;
    width: 100%;
    text-align: center;
}

.login-box button {
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    border-width: 0px;
}

.login-form input {
    padding: 2px;
}

.remember-check {
    display: flex;
    align-items: center;
    position: relative;
    left: -37px;
}

.remember-check label{
    font-size: 12px;
}

.forgot-pass {
    color: #1AADB4;
    font-size: 10px;
    text-decoration: none;
}

.label-login {
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    text-decoration: none;
    color: white;
}

.login-button {
    background-color: #1AADB4;
    color: white;
    transition: all 450ms;
}

.login-button:hover {
    background-color: #183153;
    color: #1AADB4;
}
@media (min-width: 769px) {
    .login-box {
        padding: 25px 50px 25px;
    }
}
/* --------------------------- LOGIN --------------------------- */
/* --------------------------- REGISTER --------------------------- */
.body-register {
    background: linear-gradient(to bottom, #6929BA,#843890);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
} 
.main-register {
    width: 90%;
}
.register-box {
    display: flex;
    flex-direction: column;
    background-color:rgba(0,0,0,0.4);
    color: white;
    /* max-width: 1000px; */
    width: 100%; 
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-submit-button {
    text-align: center;
    margin-top: 20px;
}
.form-submit-button input {
    background-color: #1AADB4;
    color: white;
    border: none;
    padding: 5px 25px;
}
.register-box h3 {
    text-align: center;
}
.user-details-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 15px 30px 30px 30px;

}
 
.register-form {
    display: flex;
    flex-direction: column;
}
@media (min-width:769px){
    .register-block-inline{
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .input-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    }

    .register-division{
    display: inline;
    width: 50%;
    }

    .details{
    width:80%;
    margin:right;
    } 

}

/* --------------------------- REGISTER --------------------------- */

/* --------------------------- MAIN --------------------------- */

.body-main::after {
    content: "";
    background-image: url(/images/main-cards/city.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.4;
}

a{
    color: white;
}

/* Carousel */

.carousel {
    position: relative;
    margin: auto;
}

.carousel-item {
    width: 100%;
    padding: 1em;
    display: none;
}

.carousel-item-selected {
    display: block;
}

.carousel-nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}

.carousel-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    margin: 0 10px;
}

.carousel-button-selected {
    background-color: rgba(255,255,255,0.9);
}

/* Card main */

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid thin #1AADB4;
    border-radius: 10px;
    width: 200px;
    height: 350px;
    margin: 20px;
    justify-content: space-between;
    background-color: #D9D9D9;
    transition: all 0.4s;
}

.card p{
    color: green;
}

.card img {
    width: 100%;
    height: 270px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.4);;
    color: white;
}

.card .price a {
    text-decoration: none;
    color: black;
    transition: all 0.4s;
}

.card:hover .price a {
    border-top: 1px solid white;
    color: white;
}

.best-selling,
.recommended,
.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Title headers */

.section-title {
    display: flex;
    justify-content: space-around;
    border-bottom: solid thin grey;
    margin: 0 40px;
    align-items: center;
}

/* Texto */

.section-title h3 {
    font-size: 1.5rem;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);

    /* Clip Background Image */

    background: url(/images/main-cards/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

}

/* Animate Background Image */

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.section-title a {
    text-decoration: none;
    padding: 0 15px;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.section-title a:hover {
    color: #1AADB4;
}

.section-1 {
    background: rgb(132,56,144);
}

.section-2 {
    background: rgb(105,41,186);
    background: linear-gradient(0deg, rgba(105,41,186,1) 0%, rgba(132,56,144,1) 100%);
}

.section-3 {
    background: #6929ba;
}
@media (min-width:769px){
    /* ----------------------------------MAIN---------------------------------- */
    .carousel{
        width: 70%;
     }
     /* ----------------------------------MAIN---------------------------------- */
}
/* --------------------------- MAIN --------------------------- */


