
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<div class="not-found">
    <img src="/images/logo-gameshub2.png" alt="logo" class="not-found-image">
    <div ><h1 class="not-found-text">Ha ocurrido un error</h1> </div>
    <div ><a href="/">Ir a pagina principal</a> </div>
</div>

</body>
</html>