<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Page Not Found</title>
</head>

<body>
    <div class="not-found">
        <h1 class="title-error">404</h1>
        <div class="bg-error">
            <p class="p-error">> <span class="span-error">C칍DIGO DEL ERROR</span>: <i class="i-error">HTTP 404 NOT FOUND</i></p>
            <p class="p-error">> <span class="span-error">DESCRIPCI칍N ERROR</span>: <i class="i-error">P치gina no encontrada. La p치gina que est치s intendando entrar no existe o no fue creada a칰n.</i></p>
            <p class="p-error">> <span class="span-error">POSIBLES CAUSAS DEL ERROR</span>: [<b>ejecuci칩n de acceso prohibido, acceso de lectura prohibido, acceso de escritura prohibido, ssl required, ssl 128 required, direcci칩n IP rechazada, client certificate required,
                    acceso al sitio denegado, demasiados usuarios, configuraci칩n inv치lida, cambio de contrase침a, mapper denegado,
                    certificado de cliente revocado, lista de directorios denegada, 
                    licencias de acceso de cliente excedidas, el certificado del cliente no es de confianza o no es v치lido, el certificado del cliente ha caducado o a칰n no es v치lido, inicio de sesi칩n del pasaporte fall칩, 
                    acceso a la fuente denegado, infinite depth is denegada, demasiadas solicitudes de la misma IP del cliente</b>...]</p>
            <p class="p-error">> <span class="span-error">ALGUNAS P츼GINAS DE ESTE SERVIDOR A LAS QUE USTED TIENE PERMISO PARA ACCEDER</span>: [<a href="/">P츼GINA PRINCIPAL</a>, <a href="/">SOBRE NOSOTROS</a>, <a href="/">CONT츼CTANOS</a>...]</p>
            <p class="p-error">> <span class="span-error">QUE TENGAS UN EXCELENTE D칈A 游</span></p>
        </div>
    </div>

</body>

<script src="/js/error.js"></script>

</html>