<div class="adds">
    <div class="container-ad">
        <img src="/images/mcdonalds.png" alt="adLogo">
    </div>
    <div class="category-section">
        <h3 class="title-selling">Categorías</h3>
        <ul>
            <li><input type="checkbox" name="action" id="action">Acción</li>
            <li><input type="checkbox" name="adventure" id="adventure">Aventura</li>
            <li><input type="checkbox" name="fps" id="fps">FPS</li>
            <li><input type="checkbox" name="estrategy" id="estrategy">Estrategia</li>
            <li><input type="checkbox" name="sports" id="sports">Deportes</li>
        </ul>
        <h3 class="title-selling">Precio</h3>
        <input type="range" min="0" max="60" class="range-input">
        <h3 class="title-selling">Plataformas</h3>
        <ul>
            <li><input type="checkbox" name="steam" id="steam"> Steam Games</li>
            <li><input type="checkbox" name="xbox" id="xbox"> Xbox</li>
            <li><input type="checkbox" name="origin" id=""> Origin</li>
            <li><input type="checkbox" name="origin" id=""> Battle.net</li>
            <li><input type="checkbox" name="ubisoft" id="ubisoft"> Ubisoft</li>
        </ul>
    </div>
</div>