<div class="carousel">
    <img class="carousel-item" src="/images/main-cards/cuphead.jpg" alt="">
    <img class="carousel-item" src="/images/main-cards/medium.jpg" alt="">
    <img class="carousel-item" src="/images/main-cards/pleague.jpg" alt="">
</div>