<footer>
    <section class="header-payment">
      <div>
        <h2>Medios de pago</h2>
      </div>
      <div>
        <ul class="header-payment-list">
          <li><i class="fa-brands fa-cc-visa footer-icon"></i></li>
          <li><i class="fa-brands fa-cc-mastercard footer-icon"></i></li>
          <li><i class="fa-brands fa-cc-paypal footer-icon"></i></li>
          <li><i class="fa-brands fa-bitcoin footer-icon"></i></li>
          <li><i class="fa-brands fa-cc-amazon-pay footer-icon"></i></li>
        </ul>
      </div>
    </section>
    <section class="header-social">
      <div>
        <h2>Redes sociales</h2>
      </div>
      <div>
        <ul class="header-social-list">
          <li><i class="fa-brands fa-square-facebook footer-icon"></i></li>
          <li><i class="fa-brands fa-square-twitter footer-icon"></i></li>
          <li><i class="fa-brands fa-square-instagram footer-icon"></i></li>
          <li><i class="fa-brands fa-square-whatsapp footer-icon"></i></li>
          <li><i class="fa-brands fa-telegram footer-icon"></i></li>
        </ul>
      </div>
    </section>
    <p>GAMES HUB 2023</p>
  </footer>
  <script src="/js/productSearch.js"></script>