    <!-- Header -->
    <header>
      <div class="header-logo">
        <img src="/images/logo-gameshub2.png" alt="Logo GamesHub" />
        <p>Games Hub</p>
      </div>
      <ul class="header-user-list">
        <li><a class="header-link" href="/login">Login</a></li>
        <li><a class="header-link" href="/register">Register</a></li>
        <li>
          <a class="header-icon" href="/cart"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
        </li>
        <li>
          <a class="header-icon burger-menu" href="#"
            ><i class="fa-solid fa-bars"></i
          ></a>
        </li>
      </ul>
      <nav>
        <ul class="header-nav-bar">
          <li><a class="header-link" href="/">Tienda</a></li>
          <li><a class="header-link" href="/offers">Ofertas</a></li>
          <li><a class="header-link" href="/recommended">Recomendados</a></li>
          <li><a class="header-link" href="#">Categorias</a></li>
          <li><a class="header-link" href="/best-selling">Más vendidos</a></li>
          <li>
            <div class="search">
              <form action="#">
                <input
                  type="text"
                  placeholder="Buscar productos, marcas"
                  name="search"
                />
                <button><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
              </form>
            </div>
          </li>
        </ul>
      </nav>
    </header>