
  
  <%- include('../partials/head')%>
  <body class="body-register">
    <%- include('../partials/header')%>
    <main class="main-register">
    <div class="role-box">
      <h3 class="panel-title">Panel administrativo</h3>
     
      <table description="admin table">
        <tr class="role-th">
          <th>Pulsa la opcion</th>
         </tr>
        
   
        <tr>
          <form action="/roles/all" method="get">
          
            <td class="role-td">
               <button class="panel-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Roles</button>
                
            </td>
            </form>
        </tr>
        
          <tr>
            <form action="/consoles/all" method="get">
            
              <td class="role-td">
                 <button class="panel-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Consolas</button>
                  
              </td>
              </form>
          </tr>
          <tr>
            <form action="/sections/all" method="get">
              
              <td class="role-td">
                 <button class="panel-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Secciones</button>
                  
              </td>
              </form>
          </tr>
          <tr>
            <form action="/categories/all" method="get">
            
              <td class="role-td">
                 <button class="panel-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Categorias</button>
                  
              </td>
              </form>
          </tr>
          <tr>
            <form action="/products/edit/list" method="get">
          
              <td class="role-td">
                 <button class="panel-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Productos</button>
                  
              </td>
              </form>
          </tr>
      </table>
      
    </div>
  </main>
  <%- include('../partials/footer')%>
</body>

