<!DOCTYPE html>
<html lang="en">
  
  <%- include('../partials/head')%>
  <body class="body-register">
    <%- include('../partials/header')%>
    <main class="main-register">
    <div class="register-box">
      <h3 class="title">Registro</h3>
      <hr />
      <form class="register-form" action="/users/register" method="POST" enctype="multipart/form-data">
        <div class="input-box">
          <div class="register-block-inline">
            <div class="register-division">
              <div class="details">
                <label class="details" for="names">Nombres:</label>
              </div>
              <input
                class="details"
                type="text"
                name="names"
                id="names"
                placeholder=" Ingresa tu nombre"
                minlength="3"
                required
              />
            </div>
            <div class="register-division">
              <div class="details">
                <label class="details" for="surnames">Apellidos:</label>
              </div>

              <input
                class="details"
                type="text"
                name="surnames"
                id="surnames"
                placeholder=" Ingresa tu apellido"
              />
            </div>
          </div>
          <div class="register-block-inline">
            <div class="register-division">
              <div class="details">
                <label class="details" for="password">Contraseña:</label>
              </div>

              <input
                class="details"
                type="password"
                name="password"
                id="password"
                minlength="6"
                placeholder="Mínimo 6 caracteres"
                required
              />
            </div>
            <div class="register-division">
              <div class="details">
                <label class="details" for="phone">Teléfono:</label>
              </div>
              <input
                class="details"
                type="tel"
                name="phone"
                id="phone"
                placeholder=" ej: 1122334455"
                minlength="8"
                required
              />
            </div>
          </div>
          <div class="register-block-inline">
            <div class="register-division">
              <div class="details">
                <label class="details" for="email">E-mail:</label>
              </div>

              <input
                class="details"
                type="email"
                name="email"
                id="email"
                placeholder=" ej: laracroft@....com"
                required
              />
            </div>
            <div class="register-division">
              <div class="details">
                <label class="details" for="address">Dirección:</label>
              </div>

              <input
                class="details"
                type="text"
                name="address"
                id="address"
                placeholder=" ej: calle falsa 123"
                required
              />
            </div>
            <div class="register-division">
              <div class="details">
                <label class="details" for="">Imagen de perfil</label>
                <input type="file" name="image" id="image">  
              </div>
            </div>
          </div>
        </div>

        <div >
          <button type="submit" class="buy-button">Registrarse</button>
        </div>
      </form>
    </div>
  </main>
  <%- include('../partials/footer')%>
</body>
</html>
